* {
  margin: 0;
}
body {
  height: 100vh;
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #e9ebec;
}
h1 {
  font-weight: 100;
  color: #333;
  margin-bottom: 1rem;
}
p {
  color: #777;
  margin-bottom: 1.5rem;
}
.gsc-input {
  font-size: 32px !important;
}
.gsc-input input {
  font-weight: 100;
  color: #333;
}
.gsc-input-box {
  border-radius: 30px;
  padding: 5px 20px;
}
.gsc-control-cse {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}
.gsc-search-button-v2 {
  background: none !important;
  border: none !important;
  cursor: pointer;
}
.gsc-search-button-v2 svg {
  zoom: 2;
  fill: #999 !important;
}
@media screen and (max-width: 768px) {
  .gsc-input-box {
    border-radius: 5px;
    padding: 0 5px;
  }
}
